---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
---

<Layout title="Lucas Silbernagel | About">
  <Header showBackButton={true} />
  <div
    class="bg-gradient-to-br from-slate-900 via-blue-900 to-slate-800 min-h-screen"
  >
    <div class="z-10 relative mx-auto p-4 sm:px-8 py-12 min-h-screen container">
      <div class="mb-12 text-center">
        <h1 class="mb-4 font-bold text-white text-4xl md:text-5xl">About Me</h1>
      </div>

      <div class="mx-auto mb-36 max-w-6xl">
        <div class="flex justify-center my-16 mt-28">
          <div class="relative p-0 sm:p-8 max-w-screen-md kiosk-tile">
            <div
              class="-top-1/3 -left-32 z-10 absolute flex justify-center items-center bg-terminal-blue shadow-lg mx-auto mb-6 rounded-full w-60 h-60 terminal-glow"
            >
              <img
                class="rounded-full object-cover"
                src="https://placehold.co/900x900"
                alt=""
              />
            </div>
            <div
              class="-bottom-1/3 -left-32 z-10 absolute flex justify-center items-center bg-terminal-blue shadow-lg mx-auto mb-6 rounded-full w-60 h-60 terminal-glow"
            >
              <img
                class="rounded-full object-cover"
                src="https://placehold.co/900x900"
                alt=""
              />
            </div>
            <div
              class="-right-32 -bottom-1/3 z-10 absolute flex justify-center items-center bg-terminal-blue shadow-lg mx-auto mb-6 rounded-full w-60 h-60 terminal-glow"
            >
              <img
                class="rounded-full object-cover"
                src="https://placehold.co/900x900"
                alt=""
              />
            </div>
            <div
              class="-top-1/3 -right-32 z-10 absolute flex justify-center items-center bg-terminal-blue shadow-lg mx-auto mb-6 rounded-full w-60 h-60 terminal-glow"
            >
              <img
                class="rounded-full object-cover"
                src="https://placehold.co/900x900"
                alt=""
              />
            </div>
            <div
              class="space-y-4 px-2 sm:px-24 pt-6 pb-16 text-gray-600 text-base sm:text-lg"
            >
              <p class="font-bold text-black text-2xl sm:text-3xl text-center">
                Hi, I’m Lucas!
              </p>
              <p>
                I’m a software developer based in Toronto, Canada. I specialize
                in front-end development, and I've been working in the industry
                since 2020.
              </p>
              <p>
                I thrive in ambiguous, fast-paced environments, consistently
                driving rapid iteration and improvement in large-scale
                codebases. I'm a strong communicator and enjoy partnering with
                cross-functional teams to accelerate product delivery.
              </p>
              <p>
                My focus is on delivering high-quality, accessible, and
                performant user experiences, balancing big-picture design
                thinking with urgent execution.
              </p>
              <p class="text-sm italic">
                Inspired by my love of travel, the design of this website mimics
                the user interface of an airport check-in terminal.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
