---
const DEFAULT_ROW_COUNT = 2
const DEFAULT_DOT_COUNT = 4

const { rows = DEFAULT_ROW_COUNT, dots = DEFAULT_DOT_COUNT } = Astro.props

const rowArray = Array.from({ length: rows })
const dotArray = Array.from({ length: dots })
---

<div class="mt-4 flex justify-between" aria-hidden="true">
  {
    rowArray.map(() => (
      <div class="flex space-x-1">
        {dotArray.map(() => (
          <div class="h-2 w-2 rounded-full bg-gray-300" />
        ))}
      </div>
    ))
  }
</div>
